<!-- Toolbar -->
<mat-toolbar color="primary" class="app-header">
    <div class="back1">
        <a href="https://www.faceprep.in/prograd/" target="_blank" class="positronx">ProGrad Community</a>
    </div>
    <span class="nav-tool-items">
    <a id="login" mat-button routerLink="login" routerLinkActive="active">Log in</a>
    <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Register</a>
  </span>
</mat-toolbar>
<footer class="footer">Made with <img src="../assets/prograd-heart.svg"> by ProGrads</footer>
<router-outlet></router-outlet>